<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="userSettings"
                type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Palantiri.Properties.Settings"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<Palantiri.Properties.Settings>
   <setting name="TelegrafEnv" serializeAs="String">
    <value>environemnt</value>
   </setting>
   <setting name="TelegrafSysName" serializeAs="String">
    <value>sysName</value>
   </setting>
   <setting name="TelegrafId" serializeAs="String">
    <value>id</value>
   </setting>
   <setting name="FileOberverPath" serializeAs="String">
    <value>output.txt</value>
   </setting>
  </Palantiri.Properties.Settings>
	</userSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
</configuration>