<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CountersHub.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CountersHub.Properties.Settings>
            <setting name="TelegrafEnv" serializeAs="String">
                <value>environemnt</value>
            </setting>
            <setting name="TelegrafSysName" serializeAs="String">
                <value>sysName</value>
            </setting>
            <setting name="TelegrafId" serializeAs="String">
                <value>id</value>
            </setting>
            <setting name="TalagrafStatisticsServer" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="TelegrafStatisticsPort" serializeAs="String">
                <value>8125</value>
            </setting>
        </CountersHub.Properties.Settings>
    </userSettings>
</configuration>